@import url('../styles/globals.css');
header{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 275px;
    padding-left: 12px;
    padding-right: 20px;
    margin: 5px 5px 0 0;
    position: relative;
}
a{
    text-decoration: none;
    font-family: 'TwitterChirp', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #0f1419;
    font-weight: 400;
}
.headerMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    padding: 0 15px 0 ;
    position: fixed;
    min-width: 88px;
    height: 96%;
}
.headerMenu--items{
    display: flex;
    list-style: none;
    align-content: space-between;
    align-items: center;
    margin: 0.1% 0;
}
.headerMenu--items div{
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    height: 100%;
    padding: 7.5% 0;
    padding-left: 8px;
}
.headerMenu--items:hover div{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding-left: 8px;
}

.headerMenu--icons{
    width: 15px;
    height: 15px;
    background: black;
    margin: 0 10px 0 0;
}

.r-icons-input-bird{
    width: 50px;
    height: 30px;
    fill: rgb(29, 155, 240);
    margin-left: -2px;
}
.headerMenu--elements__logo:hover{
    background-color:rgba(29, 155, 240, 0.2);
    border-radius: 30px;
    margin-left: -2px;
}
.headerMenu--elements__logo:hover .r-icons-input-bird{
    margin-left: 0px;
}

.headerMenu--tweet-button{
    background-color: rgb(29, 155, 240);
    border: none;
    border-radius: 100px;
    width: 225px;
    height: 49px;
    margin-top: 7px;
}
.headerMenu--tweet-button:hover{
    cursor: pointer;
    background-color: rgb(26, 140, 216);
    transition-duration: 0.2s;
}
.headerMenu--tweet-button a{
    color: white;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
}

.r-4qtqp9{
    width: 26.5px;
    height: 26.5px;
}
.headerMenu--elements li a{
    margin-left: 20px;
    margin-right: 16px;
    line-height: 24px;
    font-size: 20px;
    color: rgb(15, 20, 25);
    text-decoration: none;
}

.headerMenu--elements__logo{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
}