@import url('../styles/globals.css');
header{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    font-family: 'TwitterChirp', sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #0f1419;
    font-weight: 400;
}
.headerMenu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    padding: 0 15px 0 ;
    /* height: 100vh; */
    position: fixed;
}
.headerMenu li{
    display: flex;
    list-style: none;
    align-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 12px;
}
.headerMenu--icons{
    width: 15px;
    height: 15px;
    background: black;
    margin: 0 10px 0 0;
}