@import url('./globals.css');

.or-divider{
  width: 300px;
  text-align: center;
  font-family: 'TwitterChirp', sans-serif;
}

.loginLogo--bird{
    background-image: url('https://icon-library.com/images/twitter-icon-svg/twitter-icon-svg-28.jpg');
    width: 304.5px;
    max-width: 359px;
    height: 289px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginSection{
    padding: 16px;
    width: 45vw;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-around;
}
.loginSection-logo{
    background-image: url('https://upload.wikimedia.org/wikipedia/sco/thumb/9/9f/Twitter_bird_logo_2012.svg/1024px-Twitter_bird_logo_2012.svg.png?20141014130605');
    width: 47px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.css-1dbjc4n{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 16px;
  height: 5vh;
}
.css-4rbku5{
  text-decoration: none;
  color: rgb(83, 100, 113);
  padding-right: 10px;
  font-size: 13px;
  font-family: 'TwitterChirp', sans-serif;
  cursor: pointer;
}
.css-4rbku5:hover{
  text-decoration:underline;
}
.login{
  display: flex;

}

.loginSection{
  max-width: 638px;
  min-width: 45.4vw;
  height: 95vh;
  padding: 16px;
}
.loginLogo-Container{
  min-width: 385px;
  background-color: rgb(107, 201, 251);
  background-image: url('https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  order: -1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginSection--content{
  padding: 20px;
  min-width: 437px;
  max-width: 760px;

}
.loginSection--content h1{
  margin: 48px 0;
}

.loginSection--options{
  display: flex;
  flex-direction: column;
}

@import url('./loginButton.css');

.loginSection--terms{
  padding-right: 150px;
}
.loginSection--terms p{
  font-size: 11px;
  line-height: 12px;
  color: #536471;
}
.loginSection--terms p span {
  color: #1a8cd8; 
}
.loginSection--login{
  margin: 40px 0 0 0;
}