@import url('./globals.css');
@import url('../styles/loginButton.css');

.loginPage{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginPage--form{
    width: 600px;
    height: 650px;
    max-height: 90vh;
    padding: 0 32px 30px 32px;
    background-color: rgba(255,255,255,1.00);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.loginPage--form div{
    display: flex;
    flex-direction: column;
}

.loginPage--form__tittle{
    font-size: 23px;
    margin: 25px 0;
}
.or-divider{
    width: 300px;
    text-align: center;
    font-family: 'TwitterChirp', sans-serif;
}
.loginPage--form__input{
    width: 298px;
    height: 56px;
    padding-top: 15px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #536471;
    font-family: 'TwitterChirp', sans-serif;
    font-size: 17px;
}
.loginPage--form__area{
    width: 100%;
    height: 24px;
    border: none;
    outline: none;
    color: #0f1419;
    font-size: 17px;
    overflow: hidden;
}

.change-input-login{
    border: rgb(29, 155, 240) 1px solid;
    overflow: hidden;
    padding-top: 0px;
    color: rgb(29, 155, 240);
    
    font-size: 14px;

}
.change-input-login-text{
    overflow: hidden;
    padding-top: 0px;
    font-size: 14px;
}
.move{
    transition: -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.loginSection-logo{
    background-image: url('https://upload.wikimedia.org/wikipedia/sco/thumb/9/9f/Twitter_bird_logo_2012.svg/1024px-Twitter_bird_logo_2012.svg.png?20141014130605');
    width: 30px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 35px;
}

.loginSection--loginButton{
    margin: 15px 0 7px 0;
}
.loginSection--signup{
    margin: 12px 0 0 0;
}
.loginSection-exitLogo{
    position: absolute;
    top: 15px;
    left: 15px;
}