main{
    border: 1px solid gray;
    display: flex;
    width: 990px;
    justify-content: space-between;
}
.main--post{
    max-width: 600px;
    position: relative;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.main--post p{
    margin: 35px 0;
}

.main--aside{
    width: 350px;
}
.r-18jsvk2{
    width: 20px;
}
.main--post__tittle{
    position: relative;
    width: 600px;
    height: 53px;

}
.main--post__tittle_container{
    display: flex;
    width: 600px;
    height: 53px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.85);
}
.main--post__tittle_container h3 {
    font-size: 20px;
    line-height: 24px;
    color: #0f1419;
    font-weight: 700;
}