.main--aside-follow{
    width: 350px;
    height: 50vh;
    background-color: #eff3f4;
    border-radius: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 12px 0 0 0;
    overflow: hidden;
}

.main--aside-follow h3{
    font-size: 20px;
    line-height: 24px;
    font-weight: 800;
    color: #0f1419;
}